.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
  background: linear-gradient(#0c0c1d, #111132);
  //background-color: #0c0c1d;
  //padding: 0 45px;
  padding-top: 120px;
  //border: 2px solid red;


  .wrapper {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  //border: 2px solid red;

    .textContainer {
      width: 100%;
      height: 100%;
      display: flex;
      margin: auto;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      order: 0;

      img {
        width: 40px;
      }

      h1 {
        font-size: 30px;
      }

      h2 {
        font-size: 20px;
        color: rebeccapurple;
        letter-spacing: 5px;
      }

      .buttons {
        button {
          padding: 10px;
          border: 1px solid white;
          color: white;
          border-radius: 5px;
          background-color: transparent;
          margin-right: 10px;
          cursor: pointer;
          font-weight: 300; // corrected
        }
      }
    }


  .imageContainer {
  position: relative;
  order: -1;
  display: flex;
  


  .circleSvg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: 110%;
    z-index: 0;
    
    circle {
      transform-origin: center;
    }
  }


  .profileImage {
    filter: brightness(0.9) contrast(1.5) saturate(1.1);
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .imageWrapper {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, rgba(16, 16, 16, 0.4) 0%, rgba(12, 12, 12, 0.2) 100%);
      border-radius: 50%; // Match circular shape
      z-index: 2;
    }
  }
  }
}


  .slidingTextContainer {
    position: absolute;
    font-size: 25vh;
    bottom: -15px;
    white-space: nowrap;
    color: #ffffff09;
    width: 25%;
    font-weight: bold;
  }

  @media (min-width: 769px) {
    padding-top: 0px;
    .wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  

    .textContainer {
      gap: 40px;

      h1 {
        font-size: 60px;
      }

      h2 {
        font-size: 40px;
        letter-spacing: 10px;
      }

      .buttons {
        button {
          padding: 20px;
          border-radius: 10px;
          font-weight: 300; // corrected
          margin-right: 20px;
        }
      }
    }
    .imageContainer {
      order: 0;
      .circleSvg {
      width: 120%;
      height: 120%;
    }
      .imageWrapper {
      width: 400px;
      height: 400px;
    }
    }
  }

    .slidingTextContainer {
      font-size: 50vh;
      bottom: -120px;
      width: 50%;
    }
  }
}
