.about-timeline {
  background: linear-gradient(#0c0c1d, #111132);
  padding: 3rem 1rem;
  color: #fff;
  position: relative;

  .timeline-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .timeline-flip-card {
    perspective: 1000px;
    position: relative;
    width: 100%;
    //min-height: 280px;
    //border: 1px solid red;
  }

  .timeline-flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .timeline-flip-card:hover .timeline-flip-inner {
    transform: rotateY(180deg);
  }

  .timeline-flip-front,
  .timeline-flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    top: 0;
    left: 0;
  }

  .timeline-flip-front {
    z-index: 2;
  }

  .timeline-flip-back {
    transform: rotateY(180deg);
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      border-radius: 8px;
      border: 2px solid #fff;
    }
  }

  .skills-sphere {
    margin-top: 4rem;
    text-align: center;

    .skills-title {
      margin-bottom: 2rem;
      color: #fff;
    }

    .sphere-container {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
    }

    .sphere-item {
      width: 7rem;
      height: 7rem;
    }
  }

  .loader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .canvas-load {
    width: 30px;
    height: 30px;
    border: 4px solid #f1f1f1;
    border-top: 4px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  .loader-text {
    color: #f1f1f1;
    margin-top: 20px;
  }

  .vertical-timeline-element-content {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    min-height: 600px;
    //border: 1px solid orange;

    &:hover {
      cursor: pointer;
      transform: scale(1.02);
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
  }

  @media screen and (min-width: 768px) {
    .vertical-timeline {
      &::before {
        background: #fff;
        left: 50% !important;
      }

      .vertical-timeline-element {
        margin: 2em 0 !important;
        height: 600px;
        //min-height: 600px;
        //border: 1px solid yellow;

        &-content {
          width: 45% !important;
          height: 100%;
          //border: 1px solid orange;
        }

        &:nth-child(even):not(.vertical-timeline-element--left)
          .vertical-timeline-element-content {
          float: right !important;
        }

        &-icon {
          left: 50% !important;
          margin-left: -22px !important;
          box-shadow: 0 0 0 4px #fff,
            inset 0 2px 0 rgba(0, 0, 0, 0.08) !important;
        }
      }
    }

    .vertical-timeline-element--left,
    .vertical-timeline-element--right {
      left: 0 !important;
      padding: 0 !important;

      .vertical-timeline-element-content {
        margin-left: 0 !important;
        border-radius: 6px !important;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .timeline-flip-card {
      margin-bottom: 2rem;
    }

    .timeline-flip-front,
    .timeline-flip-back {
      height: auto;
      min-height: 280px;
    }

    .timeline-flip-back {
      flex-direction: column;
    }
  }
}

