  .navbar {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 45px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  background: #0c0c1d; // Add background color
  width: 100%;
  //border: 2px solid red;

  .wrapper {
    width: 100%;
    max-width: 1200px; // Match other sections
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //border: 2px solid red;

    /*.sidebar {
    display: flex; // ← Ensure Sidebar doesn't disappear
  }*/

    span{
      font-weight: bold;
      font-size: 24px;
      color: rebeccapurple;
    }

   /* .links {
      display: none;
    }*

    .socials {
      display: none;
    }*/


    @media (min-width: 769px) {
      padding: 0 20px;
      /*.sidebar{
        display: none;
      }
      .links {
        display: flex;
        gap: 30px;

        a {
          color: white;
          font-size: 16px;
          text-decoration: none;
        }
      }

      .socials {
        display: flex;
        gap: 20px;

        img {
          width: 20px;
          height: 20px;
        }
      }*/
    }
  }
}
